<h1>SignUp Form</h1>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-form-field>
      <input
        placeholder="FirstName"
        matInput
        type="text"
        required
        formControlName="firstName"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        placeholder="LastName"
        matInput
        type="text"
        required
        formControlName="lastName"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        placeholder="Email"
        matInput
        type="email"
        required
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        placeholder="MobileNumber"
        matInput
        type="number"
        required
        formControlName="mobileNumber"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        placeholder="DateOfBirth"
        matInput
        type="date"
        required
        formControlName="dateOfBirth"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        placeholder="Password"
        matInput
        type="password"
        required
        formControlName="password"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        placeholder="ConfirmPassword"
        matInput
        type="password"
        required
        formControlName="confirmPassword"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">signUp</button>
  </mat-card>
</form>
